
nav.nav__wrapper 
    a(href="/").nav__logo Boilerfolio
    .nav__menu__btn 
        span.nav__menu__btn__text.menu menu
        span.nav__menu__btn__text.close fermer
.nav__menu__wrapper
    a(href="/").nav__menu__link Accueil 
