@use "../shared" as *;
@use "../utils" as *;
.home {
  @extend %page;
  overflow-x: hidden;
  // position: relative;
}

.home p {
  @extend %text-16;
}

.home__wrapper {
}
.home__hero__wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__title__wrapper {
}
h1.home__title {
  span {
    font-size: 32rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
  }
}
p.home__baseline {
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
  b {
    font-weight: 700;
  }
}
.home__hero__banner {
  position: relative;
  margin-top: 140px;
  width: 100%;
  img {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    z-index: 0;
  }
}
.banner__text__wrapper {
  position: relative;
  z-index: 1;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 100%;
  box-sizing: border-box;
}
span.banner__label {
  font-size: 5.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -4px;
  img {
    width: 5.5rem;
    margin-left: 20px;
  }
}
span.banner__info {
  font-size: 2.4rem;
}
.home__main__wrapper {
}
img.text__shape {
}
img.text__shape {
}
img.text__shape {
}
