---
    permalink: /contact/
    template: "contact"
    title: "Contact | Boilerfolio"
    
---
extends ./_layouts/layout.pug
block content
    .contact
        .contact__wrapper 
            h1.home__title Contact 