---
    permalink: /
    template: "home"
    title: "Accueil | Traces by Aides"
    
---
extends ./_layouts/layout.pug
block content
    .home
        .home__wrapper 
            .home__hero__wrapper
                .home__title__wrapper
                    h1.home__title 
                        span Traces
                        img(src="/img/logo-hero.svg", alt="Traces by Aides", srcset="")
                    p.home__baseline Née pour une génération qui a grandi
                        br
                        b sans entendre parler du VIH.
                .home__hero__banner 
                    .banner__text__wrapper
                        span.banner__label Check tes traces
                            img(src="/img/arrow-right.svg", alt="arrow right", srcset="")
                        span.banner__info Test anonyme • 2min
                    img(src="/img/banner.svg", alt="banner", srcset="")
            .home__main__wrapper 
                img.text__shape(src="/img/shape1.svg", alt="text container", srcset="")
                img.text__shape(src="/img/shape2.svg", alt="text container", srcset="")
                img.text__shape(src="/img/shape3.svg", alt="text container", srcset="")
                